the Atlantic_Ocean
the Sahara
John
America
Dr_Allen
State_Street
someone
anyone
this
a very long bridge
the book
the extremely pretty dress
very yellow flowers
books
John_qt_s very long sentence
Mary_qt_s shoes
his book
his shoes
my very long hair
a dog_qt_s tail
the dog_qt_s flowers
the book_qt_s very difficult style
the books
