has gone
had finished
had not finished
had been studying
has been gone
have not been studying
would have gone
might have studied
would not have gone
will have been gone
should have been studying
should not have been drinking
will be gone
must be studied
will not be done
will go
must study
will not eat
ought to study
ought not drink
ought to have been studying
ought not have been drinking
do
did study
does swim
did not eat
are
is gone
were swimming
was not eating
are being
was being punished
is not being used
am going to travel
is going to study
was not going to go 
